---
export interface Props {
  companyName: string;
  position: string;
  date?: string;
  project?: string;
  href: string;
}

const { companyName, position, date, project, href } = Astro.props;
---

<div>
  <h4>
    <i><a {href}>{companyName}</a>{date && <Fragment> ({date})</Fragment>}</i> -
    <b>{position}</b>{
      project && (
        <Fragment>
          {" "}
          on <b>{project}</b>
        </Fragment>
      )
    }
  </h4>
  <slot />
</div>

<style>
  h4,
  h5 {
    text-align: left;
  }

  h4 {
    font-weight: 400;
  }

  div :global(p) :global(li) {
    font-weight: 300;
  }
  div :global(li) {
    font-weight: 300;
  }
  @media print {
    span {
      display: inline;
    }
    a {
      color: blue;
      text-decoration: none;
    }
  }
</style>
